.animation-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.image-animation {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    filter: brightness(40%);
}

.text-container-animation {
    position: relative;
    z-index: 2;
    color: white;
    padding: 0 20px;
    padding: 2%;
    text-align: center;
    width: 60%;
}

.tittle-animation h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-family: "Le Jeune Stencil";
    letter-spacing: 0.1em;
}

.paragraph p {
    font-family: "futura";
    letter-spacing: 0.1em;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.btns {
    letter-spacing: 0.1em;
    font-size: 1.2rem;
    padding: 10px 20px;
    font-family: "Le Jeune Stencil";
}

@media screen and (max-width: 768px) {
    .paragraph p {
        font-size: 1rem;
    }

    .tittle-animation h1 {
        font-size: 1.5rem;
    }

    .text-container-animation {
        width: 90%;
    }
}